# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

#Generated Synthetic Data 
data/raw/*.csv
data/processed/*.csv
data/featured/*.csv

# Trained models
models/*.pkl