# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Generated data
data/raw/*.csv
data/processed/*.csv
data/featured/*.csv

# Prediction output
reports/*.csv